// Color variables
// Primary brand colors
$white: #ffffff;
$pms-cool-gray-11: #6d6e70;
$red-cross-red: #ed1b2e;
$black: #000000;

// Neutral colors
$light-gray: #d7d7d8;
$medium-gray: #9f9fa3;

// Secondary colors
$khaki: #e2d7ac;
$sand: #ba9996;
$gold: #ec8731;
$safety-green: #8ec06c;
$forest-green: #597b35;
$light-blue: #c4dff6;
$sky-blue: #56add1;
$classic-blue: #0091cd;
$midnight-blue: #004b79;
$deep-red: #7f1b1b;

// Font typography
$information-font: Akzidenz-Grotesk, helvetica, sans-serif;
$voice-font: Georgia, serif;
